@font-face {
    font-family: 'sans';
    src: url('fonts/IRANSans/IRANSansWeb_Light.woff') format('woff'),
    url(fonts/IRANSans/IRANSansWeb_Light.eot) format('eot'),
    url(fonts/IRANSans/IRANSansWeb_Light.eot?#iefix) format('embedded-opentype'),
    url('fonts/IRANSans/IRANSansWeb_Light.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
    font-variant: normal;
}

@font-face {
    font-family: 'sansMedium';
    src: url('fonts/IRANSansMedium/IRANSansWeb_Medium.woff') format('woff'),
    url(fonts/IRANSansMedium/IRANSansWeb_Medium.eot) format('eot'),
    url(fonts/IRANSansMedium/IRANSansWeb_Medium.eot?#iefix) format('embedded-opentype'),
    url('fonts/IRANSansMedium/IRANSansWeb_Medium.ttf') format('truetype');
    font-weight: bold;
}

@font-face {
    font-family: 'sansBold';
    src: url('fonts/IRANSansBold/IRANSansWeb_Bold.woff') format('woff'),
    url(fonts/IRANSansBold/IRANSansWeb_Bold.eot) format('eot'),
    url(fonts/IRANSansBold/IRANSansWeb_Bold.eot?#iefix) format('embedded-opentype'),
    url('fonts/IRANSansBold/IRANSansWeb_Bold.ttf') format('truetype');
    font-weight: bold;
}

body {

    overflow-x: hidden;
    font-family: sansMedium;
}

body,
html,
label,
p,
span,
h1, h2, h3, h4, h5, h6 {
    font: 12px/25px sansMedium, tahoma;
}

a {
    text-decoration: none;
}
.hidden{
    display: none;
}
.zindex{
    z-index: 99999999 !important;
}
.font-size{
    font-size: 18px;
    cursor: pointer;
}
.scroll-c {
    height:376px !important;
    overflow-x: hidden !important;
}
.hr-date{
    margin-bottom: 0px;
    margin-top: 0px;
    margin-right: 20px;
    margin-left: 20px;
}
.box-c{
    position: absolute;
    background-color: #fff;
    color: #222;
    height: 180px;
    left: -98px;
    top: 80px;
    min-width: 427px;
    z-index: 10000;
}
.box-c a{
    color: #222;
    position: relative;
    top:7px;
    text-decoration: none;
}
.scroll-cotint{
  height: 180px;
    overflow: auto;
    overflow-x: hidden;
}
.scroll-cotint::-webkit-scrollbar {
    width: 1px;
}
.cotint-date{
    border: 1px solid #ccc;
    width: 16%;
    display: inline-block;
    margin-top: 5px;
}
.click-date-c{
    position: absolute;
    background-color: #fff;
    color: #222;
    height: 180px;
    left: -98px;
    top: 80px;
    min-width: 427px;
    z-index: 10000;
}
.click-date{
    position: absolute;
    background-color: #fff;
    color: #222;
    height: 180px;
    left: -98px;
    top: 80px;
    min-width: 427px;
    z-index: 10000;
}
.click-date p{
    position: relative;
    top:4px;
}
.click-date a{
    color: #222222;
    text-decoration: none;
}
.col-md-c{
    width: 30.222222%;
    display: inline-block;
    margin-top: 5px;
}
.show-p{
    border: 1px solid #eee;
    position: relative;
    left: 1px;
}
.date-piker {
    margin-top: 10px;
    border: 1px solid #dddddd;
    min-height:460px;
    height: auto;
}

.date-piker-text {
    width: 100%;
    border: 1px solid #dddddd;
    min-height: 444px;
    height: auto;
    margin-top: 100px;
    margin-top: 10px;
}

.date-piker-text p {
    margin-top: 10px;
    font-size: 13px;
    color: #999;
    position: relative;
    right: 10px;
}

.date-piker-text span {
    margin-top: 10px;
    margin-right: 20px;
    font-size: 15px;
    color: #000;
    position: relative;
    right: -10px;
}

.red-text {
    color: #b20000 !important;
}

.date-text {
    width: 94%;
    height: 80px;
    margin-right: 20px;
}

.date-text h2 {
    position: absolute;
    font-size: 24px;
    margin-right: 4px;
    margin-top: 28px;
    color: #239963;

}

.font-date-vacations-default {
    font-size: 20px;
    text-align: center !important;
    color: #b20000;
    opacity: 0.3;
}

.btn-box-vacations-default {
    width: 13%;
    height: 51px;
    display: inline-block;
    margin-right: 2px;
    margin-top: 7px;
    background-color: #eee;
    border-radius: 5px;
}

.font-date-left-vacations-default {
    font-size: 13px;
    padding-left: 7px;
    text-align: center !important;
    margin-top: -8px;
    color: #ff3232;
    opacity: 0.3;
}

.font-date-right-vacations-default {
    padding-right: 7px;
    font-size: 10px;
    text-align: center !important;
    margin-top: -7px;
    color: #ff3232;
    opacity: 0.3;
}

.date-header {
    height: 88px;
    border-bottom: 1px solid #dddddd;
    margin-left: 10px;
    margin-right: 10px;
}

.date-side {
    margin-top: 10px;
    border: 1px solid #dddddd;
    margin-left: 10px;
    margin-right: 10px;
    height: 40px;
    background-color: #555;
}

.date-content {
    margin-top: 10px;
    border: 1px solid #dddddd;
    margin-left: 10px;
    margin-right: 10px;
    min-height: 300px;
    height: auto;
}

.date-footer {
    margin-top: 18px;
    margin-left: 20px;
    margin-right: 10px;
    height: 40px;
    background-color: #239963;
    cursor: pointer;
}

.date-footer:hover {
    background-color: #319943;
    transition: all 1s;
}

.date-footer p {
    color: #fff;
    font-size: 17px;
    position: relative;
    top: 5px;
    margin-bottom: 28px;
    padding-left: 20px;
}

.tag-p-right {
    margin-top: 30px;
    margin-right: 10px;
    font-size: 16px;
}

.tag-p-right i {
    position: relative;
    left: 8px;
    top: 2px;
    color: #239963;
}

.tag-p-left {
    margin-top: 30px;
    float: left;
    margin-left: 10px;
    font-size: 16px;
}

.tag-p-left i {
    position: relative;
    right: 8px;
    top: 2px;
    color: #239963;
}

.title-date {
    margin-top: 13px;
    margin-bottom: -1px;
    color: #239963;
    font-size: 16px;
}

.title-content {
    margin-bottom: -1px;
}

.color-footer-date {
    color: #999;
    position: absolute;
}

.left-tag-i {
    cursor: pointer;
    position: relative;
    left: 10px;
}

.right-tag-i {
    cursor: pointer;
    position: relative;
    right: 15px;
}

.date-side ul {
    display: inline;
    margin-right: -60px;
}

.date-side li {
    display: inline;
    color: #fff;
    list-style: none;
    font-size: 15px;
    margin-right: 44px;
    position: relative;
    top: 5px;
}

.btn-box {
    width: 13%;
    height: 51px;
    display: inline-block;
    margin-right: 2px;
    margin-top: 7px;
}
.btn-box-today {
    width: 13%;
    height: 51px;
    display: inline-block;
    margin-right: 2px;
    margin-top: 7px;
    border: 2px solid #239963;
    border-radius: 3px;
}

.font-date {
    font-size: 20px;
    text-align: center !important;
}

.font-date-left {
    font-size: 13px;
    padding-left: 6px;
    text-align: center !important;
    margin-top: -8px;
    color: #999;
}

.font-date-right {
    padding-right: 10px;
    font-size: 10px;
    text-align: center !important;
    margin-top: -7px;
    color: #999;
}

.btn-box-default {
    width: 13%;
    height: 51px;
    display: inline-block;
    margin-right: 2px;
    margin-top: 7px;
}
.slide-responsive {
    width: 13%;
    height: 51px;
    display: inline-block;
    margin-right: 2px;
    margin-top: 7px;
}

.font-date-default {
    font-size: 20px;
    text-align: center !important;
    color: #cccccc;
}
.slide-text {
    font-size: 15px;
    text-align: center !important;
    color: #cccccc;
    position: relative;
    top: -2px;
}
.font-date-left-default {
    font-size: 13px;
    padding-left: 7px;
    text-align: center !important;
    margin-top: -7px;
    color: #ddd;
}

.font-date-right-default {
    padding-right: 7px;
    font-size: 10px;
    text-align: center !important;
    margin-top: -7px;
    color: #ddd;
}

.btn-box-vacations {
    width: 13%;
    height: 51px;
    display: inline-block;
    margin-right: 2px;
    margin-top: 7px;
    background-color: #ddd;
    border-radius: 5px;
}

.font-date-vacations {
    font-size: 20px;
    text-align: center !important;
    color: #b20000

}

.font-date-left-vacations {
    font-size: 13px;
    padding-left: 8px;
    text-align: center !important;
    margin-top: -8px;
    color: #ff3232;
}

.font-date-right-vacations {
    padding-right: 8px;
    font-size: 10px;
    text-align: center !important;
    margin-top: -7px;
    color: #ff3232;
}
@media (max-width: 964px) {
    .date-side li {
        display: inline;
        color: #fff;
        list-style: none;
        font-size: 15px;
        margin-right: 72px;
        position: relative;
        top: 5px;
    }
    .date-piker-text p {
        margin-top: 10px;
        font-size: 10px !important;
        color: #999;
        position: relative;
        right: 10px;
    }
}
@media (max-width: 724px) {
    .date-side li {
        display: inline;
        color: #fff;
        list-style: none;
        font-size: 15px;
        margin-right: 62px;
        position: relative;
        top: 5px;
    }
    .date-piker-text p {
        margin-top: 10px;
        font-size: 10px !important;
        color: #999;
        position: relative;
        right: 10px;
    }
}
@media (max-width: 480px) {
    .font-size {
        font-size: 14px;
        cursor: pointer;
    }
    .color-footer-date {
        color: #999;
        font-size: 11px;
        position: absolute;
    }
    .date-footer p{
        font-size: 20px !important;
        color:#fff !important;
    }
    .date-piker-text p {
        margin-top: 10px;
        font-size: 10px !important;
        color: #999;
        position: relative;
        right: 10px;
        padding-left: 20px;
    }
    .slide-responsive {
        width: 12%;
        height: 51px;
        display: inline-block;
        margin-right: 2px;
        margin-top: 7px;
    }
    .box-c {
        position: absolute;
        background-color: #fff;
        color: #222;
        height: 140px;
        left: -71px;
        top: 80px;
        min-width: 299px;
        z-index: 10000;
    }
    .cotint-date{
        border: 1px solid #ccc;
        width: 20.222222%;
        display: inline-block;
        margin-top: 5px;
    }
    .click-date {
        position: absolute;
        background-color: #fff;
        color: #222;
        height: 140px;
        left: -71px;
        top: 80px;
        min-width: 299px;
        z-index: 10000;
    }
    .col-xs-c{
        width: 20.222222%;
        display: inline-block;
        margin-top: 5px;
    }
    .title-content {
        margin-bottom: -1px;
        font-size: 10px;
    }

    .tag-p-right {
        margin-top: 30px;
        margin-right: 10px;
        font-size: 10px;
    }

    .tag-p-left {
        margin-top: 30px;
        float: left;
        margin-left: 10px;
        font-size: 11px;
    }

    .date-side ul {
        float: right;
        top: 3px;
        position: relative;
    }

    .date-side li {
        list-style: none;
        font-size: 14px;
        margin-right: 30px;
        position: relative;
        top: 2px;
    }

    .btn-box {
        width: 12%;
        height: 51px;
        display: inline-block;
        margin-right: 2px;
        margin-top: 7px;
    }

    .btn-box-vacations {
        width: 12%;
        height: 51px;
        display: inline-block;
        margin-right: 2px;
        margin-top: 7px;
        background-color: #ddd;
        border-radius: 5px;
    }

    .btn-box-default {
        width: 12%;
        height: 51px;
        display: inline-block;
        margin-right: 2px;
        margin-top: 7px;
    }

    .font-date-right {
        padding-right: 5px;
        font-size: 8px;
        text-align: center !important;
        margin-top: -5px;
        color: #999;
    }

    .font-date-right-default {
        padding-right: 5px;
        font-size: 8px;
        text-align: center !important;
        margin-top: -5px;
        color: #ddd;
    }

    .font-date-right-vacations {
        padding-right: 5px;
        font-size: 8px;
        text-align: center !important;
        margin-top: -5px;
        color: #ff3232;
    }

    .font-date-right-vacations-default {
        padding-right: 5px;
        font-size: 8px;
        text-align: center !important;
        margin-top: -5px;
        color: #ff3232;
        opacity: 0.3;
    }

    .font-date-left-vacations {
        font-size: 10px;
        padding-left: 5px;
        text-align: center !important;
        margin-top: -5px;
        color: #ff3232;
    }

    .font-date-left {
        font-size: 10px;
        padding-left: 5px;
        text-align: center !important;
        margin-top: -5px;
        color: #999;
    }

    .font-date-left-default {
        font-size: 10px;
        padding-left: 5px;
        text-align: center !important;
        margin-top: -5px;
        color: #ddd;
    }
    .btn-box-today {
        width: 12%;
        height: 51px;
        display: inline-block;
        margin-right: 2px;
        margin-top: 7px;
        border: 2px solid #239963;
        border-radius: 3px;
    }
}
